<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ASK ME BEST</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
	<style>
		table {
		    width: 30px;   
		
	}
	input {display: block;}
	input.total {margin-top: 30px;}
	.textInput2
	{
	width: 170px;
	color: #000000;
	margin-top: 0px;
	margin-left: 5px;
	height:100px;
	padding-top:0px;
	vertical-align:top;
	}
	.fakey {
	    border: solid 1px; 
	    color: #ccc; 
	    font-family: sans-serif;
	    font-size: .9em;    
	}

	.fakey input {
	    border: none;   
	    outline: none;
	    font-family: sans-serif;
	    font-size: .9em; 
	    width: 200px;    
	}
	</style>
	
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="static/images/logo.png" alt="" width="160" height="80"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
				                <li class="active"><a href="/">New Bill</a></li>
               
				                <li><a href="#">Customer</a>
				                    <ul class="header__menu__dropdown">
		                          <li><a href="/newCustomer">New Customer</a></li>
		                         
				                    </ul>
				                </li>
				                <li><a href="#">Product</a>
				                    <ul class="header__menu__dropdown">
		                           <li><a href="/newProduct">New Product</a></li>
		                           <li><a href="/editProduct">Edit Product</a></li>
				                    </ul>
				                </li>
				               
				                <li><a href="./contact.html">Sales Report</a></li>
				            </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                           <div class="hero__search__phone__icon">
                               <i class="fa fa-phone"></i>
                           </div>
                           <div class="hero__search__phone__text">
                               <h5>+91 8124800298</h5>

                           </div>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    </h6>
                </div>
            </div>
            <div class="checkout__form">
               <center> <h4>Customer Details</h4></center>
                <form action="#">
                  
                       
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
			                                      <h4>Name<span>*</span></h4>
			  									  <div class="form-group">
			  									        <label for="sel1"></label>
			  									        <select class="form-control" id="sel1">
			  									          <option>Customer Name Which already Stored</option>
			  									          <option>2</option>
			  									          <option>3</option>
			  									          <option>4</option>
			  									        </select>
			                                      </div>	
			                                    </div>
			                                </div>
			                                <div class="col-lg-6">
			                                    <div class="checkout__input">
			                                        <h4>Invoice No<span>*</span></h4>
													<head runat="server">
													<script type="text/javascript">
													        now = new Date();
													        randomNum = '';
										randomNum += Math.round(Math.random() * 2);
								        randomNum += Math.round(Math.random() * 200);
													        randomNum += now.getTime();
													        window.onload = function () {
						   document.getElementById("txt_usrid").value = randomNum.substr(0,3); // HERE ;)
													        }
															 </script>
															</head>
															<body>
													 <form id="form1" runat="server">
													 
			                        <input type="text" tooltip="User Id" id="txt_usrid">
												</div>
												 
											</div>
												
			                     
                             <div class="col-lg-6">
                            <div class="checkout__input">
                                <h4>Address<span>*</span></h4>
                                <input type="text" placeholder="Street Address" class="checkout__input__add">
                                <input type="text" placeholder="Apartment, suite, unite ect (optinal)">
                            </div>
							 </div>
							   <div class="col-lg-6">
                            <div class="checkout__input">
                                <h4>Town/City<span>*</span></h4>
                                <input type="text">
                            </div>
                            </div>
                        
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <h4>Phone<span>*</span></h4>
                                        <input type="text">
									
                                    </div>
                                </div>

                            </div>
                           
                            </div>
                        </div>
                       
                </form>
            </div>
        </div>
    </section>
	
	
	
	
	
	
	
	
	
	
	
	
	
   <!-- Checkout Section Begin -->
   <section class="checkout spad">
       <div class="container">
           <div class="row">
               
   
           <div class="checkout__form">
                <center> <h4>Product Details</h4></center>
				
               <form action="#">
                   <div class="row">
                       <div class="col-lg-8 col-md-6">
                           <div class="row">
                               <div class="col-lg-6">
                                   <div class="checkout__input">
									   
											  
	 									   <br>
	 									    <br>
	 										 <br>
	 										  <br>
	 										   <br>
	 										    <br>
	 											 <br>
											 
	 											  <br>
                                        <h4>Product<span>*</span></h4>
							        <select class="form-control" id="sel1">
							          <option>Product Which already Stored</option>
							          <option>1</option>
							          <option>3</option>
							          <option>4</option>
							        </select>
                                   </div>
                               </div>
                               <div class="col-lg-6">
                                   <div class="checkout__input">
									   <br>
									    <br>
										 <br>
										  <br>
										   <br>
										    <br>
											 <br>
											 
											  <br>
                                      <h4>Rate<span>*</span></h4>
									
									<input type="text" placeholder="rate" id="txt1" onkeyup="sum();" />
									
									        
									 
                                     
                                   </div>
                               </div>
                           </div>
                           
                           <div class="checkout__input">
                               <h4>Quatity<span>*</span></h4>
                               <input type="text" placeholder="quantity" id="txt2" onkeyup="sum();" />
					
							    <script>
									function sum() {
					 var txtFirstNumberValue = document.getElementById('txt1').value;
				 var txtSecondNumberValue = document.getElementById('txt2').value;
		 var result = parseInt(txtFirstNumberValue) * parseInt(txtSecondNumberValue);
			if (!isNaN(result)) {
									    document.getElementById('txt3').value = result;
									            }
									        }
							   </script>
											
                              
                           </div>
                           
                         
                         this total should store in database   <input type="text" id="txt3" value="" />
							<br>
         <center>    <button type="submit" class="site-btn">Add</button></center>
                       </div>
                       <div class="col-lg-4 col-md-7">
                           <div class="checkout__order">
                              <center>  <h4>Your Order</h4> </center>
							   
                               <div class="checkout__order__products">Products <span>Qty</span></div>
                               <ul>
                                   <li>Vegetable’s Package <span>1</span></li>
                                   <li>Fresh Vegetable <span>1</span></li>
                                   <li>Organic Bananas <span>3</span></li>
                               </ul>
                               <ul>
                             
                                   
                               <div class="checkout__input__checkbox">
                                   
                               </div>
                               <p>.........................................................................................
								   
                                   ..........................................................................................</p>
                              <div class="checkout__order__products">Total<span id = "txt3"></span></div>
							  
							  
	                        
							
							
							
						 
	 						  <div class="checkout__order__products">Discounted Total  =<span id = "re"></span></div>
                              <p>.........................................................................................
							   
                                  ..........................................................................................</p>
		
	                     <center>   
                    <h4>Discount</h4>	
					<input type="text" placeholder="Discount Amount" id="txt4" onkeyup="sum();" class="txt txt-success btn-lg float-center"  />
					<script>
						function SubtractionBy()
						{
						num1 = document.getElementById("txt3").value; 
						num2 = document.getElementById("txt4").value; 
						document.getElementById("re").innerHTML = Number(num1) - Number(num2); 
						} 
					</script>
					
						 <br>
			
						 
						 
						 <input type="button" onClick="SubtractionBy()" class="site-btn" Value="Apply Discount" /> 
						 </form> 
                       
						 
						 
						 
						 
                               <button type="submit" class="site-btn">Print Bill</button>
							   <br>
								    <button type="submit" class="site-btn">Clear</button>
                           </div>
                       </div>
                   </div>
               </form>
           </div>
       </div>
   </section>
   <!-- Checkout Section End -->
  












  
                        

   
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/jquery.slicknav.js"></script>
    <script src="static/js/mixitup.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/main.js"></script>



</body>

</html>